<%= form_with model: @borrow, local: true do |form| %>

 <% if @borrow.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@borrow.errors.count, "error") %> prohibited
        this borrow from being saved:
      </h2>
      <ul>
        <% @borrow.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :book_id %><br>
    <%= form.text_field :book_id %>
  </p>
 
  <p>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', borrows_path %>